
  body {
    margin: 0;
    text-align: center;
/* is used to center all elements at the center */
    font-family: 'Merriweather', serif;
    background-color: #EAF6F6;
    color: #40514E;
    
}


 

form {
    /* max-width: 600px; */
    background-color: #EAF6F6;
    /* margin: 100px auto; */
    /* padding: 60px; */
     /* border-radius: 10px; */
    /* font-size: 20px; */

}

.form-header {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.form-wrapper {
  background-color: #fff;
  width: 30rem;
  height: 23rem;
  border-radius: 2rem;
  /* padding: 1.5rem 2rem; */
  background-color: #EAF6F6;
  margin: 5px auto 20px auto;

}

form {
  height: 100%;
  justify-content: center;
  align-items: center;

  /* display:flex; */
}


input {
  width: 80%;
  border-radius: .5rem;
  border: 1px solid rgba(131, 109, 109, 0.8);
  height: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

textarea {
  width: 77%;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
}



button {
  margin-top: 1rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 8px;
  border: none;
  background-color: #66BFBF;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  opacity: 0.5;
  color: #000000;
}



.bottom-container{
   background-color: #66BFBF;
   padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  margin-top: 25px;
  font-size: 0.75rem;
  padding-top: 20px 0;
  /* or padding-top:20px; */
}



a {
  color: #11999E;
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
   color: #EAF6F6;

}

/* @media only screen and (max-width: 600px) and (min-width: 400px) */

@media screen and (max-width: 1024px) {
  .form-wrapper {
   
    width: 30%;
  
 
    height: 30%;
  
  }
  

  form {
    height: 30%;
 
  }
  .bottom-container{
   
   width: 100%;
 }

 button {
  
  width: 100%;}

 }


